/* small screen */

@media only screen and (min-width: 360px) and (max-width: 600px) {
    *{
        padding: 0px;
        margin: 0px;
        background: rgb(243, 2, 2);
    }
    
    #container {
        width: 100vw;
        height: 100vh;
        display:grid ;
        grid-template-rows: 10vh 60vh 20vh 10vh ; /*4 sections*/ 
        grid-template-columns: 1fr;
        grid-template-areas:
        "hd"
        "mn"
        "sd"
        "ft" ;

    }
        #hd {
            grid-area: hd;
            background: darkblue;
        }
    
        #mn {
            grid-area: mn;
            background: rgb(0, 139, 60);

        }
    
        #sd {
            grid-area: sd;
            background: rgb(139, 0, 111);
        }
    
        #ft {
            grid-area: fr;
            background: rgb(139, 132, 0)اح;
        }
    
    
}





/* medium screen */
@media only screen and (min-width: 601px) and (max-width: 800px) {
    *{
        padding: 0px;
        margin: 0px;
        background: rgb(58, 243, 2);
    }

    #container {
        width: 100vw;
        height: 100vh;
        display:grid ;
        grid-template-rows: 10vh 60vh 20vh 10vh ; /*4 sections*/ 
        grid-template-columns: 3fr 1fr;
        grid-template-areas:
        "hd hd"
        "mn mn"
        "sd sd"
        "ft ft" ;

    }
        #hd {
            grid-area: hd;
            background: darkblue;
        }
    
        #mn {
            grid-area: mn;
            background: rgb(0, 139, 60);

        }
    
        #sd {
            grid-area: sd;
            background: rgb(139, 0, 111);
        }
    
        #ft {
            grid-area: fr;
            background: rgb(139, 132, 0)اح;
        }
    
    
}
    
}
    




/* large screen */

@media only screen and (min-width: 801px) {
    *{
        padding: 0px;
        margin: 0px;
        background: rgb(62, 2, 243);
    }

    #container {
        width: 100vw;
        height: 100vh;
        display:grid ;
        grid-template-rows: 10vh 60vh 20vh 10vh ; /*4 sections*/ 
        grid-template-columns: 5fr 2fr;
        grid-template-areas:
        "hd hd"
        "mn mn "
        "sd sd"
        "ft ft" ;

    }
        #hd {
            grid-area: hd;
            background: darkblue;
        }
    
        #mn {
            grid-area: mn;
            background: rgb(0, 139, 60);

        }
    
        #sd {
            grid-area: sd;
            background: rgb(139, 0, 111);
        }
    
        #ft {
            grid-area: fr;
            background: rgb(139, 132, 0)اح;
        }
    
    
}
}
    

















